<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">L'OPGI</li>
                
                </ol>
              </nav>
              {% if title %}
            <h1 class="mb-0 fw-bold">{{ title }} {% if subtitle %} - {{ subtitle }} {% endif %}</h1> 
            {% endif %}
        </div>
    </div>
</div>