{% load static %}
{% load myapp_tags %}
<div class="page-breadcrumb">
  <div class="row align-items-center">
      <div class="col-6">
        
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 d-flex align-items-center">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home' %}" class="link">Tableau de bord</a></li>
                {% if title %}
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                {% endif %}
                {% if subtitle %}
                <li class="breadcrumb-item active" aria-current="page">{{ subtitle }}</li>
                {% endif %}
                {% if soustitre %}
                <li class="breadcrumb-item active" aria-current="page">{{ soustitre }}</li>
                {% endif %}
              </ol>
            </nav>
          
      </div>
  </div>
</div>