{% extends '../opgi_system/layout.html' %}

{% block content %}
{% load static %}

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hovet">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">ID </th>
                                                <th scope="col">Unité</th>
                                                <th scope="col">Mois</th>
                                                <th scope="col">Année</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Total du mois</th>
                                                <th scope="col">Pourcentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">{{ consultation.id }}</th>
                                                <th scope="row">{{ consultation.unite }}</th>
                                                <th scope="row">{{ consultation.mois }}</th>
                                                <th scope="row">{{ consultation.created_at }}</th>
                                                <th scope="row">{{ consultation.montant_dette }} DA</th>
                                                <th scope="row">{{ consultation.montant_dette }} DA</th>
                                                <th scope="row">{{ consultation.montant_dette }} %</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

<script src="{% static 'JS/jquery.min.js' %}"></script>
{% endblock %}