
{% block content %}
{% load static %}
<style>
    /* CSS animation for form elements */
    @keyframes fadeInRight {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    /* Apply animation to form elements */
    .form-animate {
      animation: fadeInRight 1s ease-in-out;
    }

    /* CSS animation for the chart */
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Apply animation to the chart */
    .chart-animate {
      max-width: 100%;
      height: auto;
        overflow-x: scroll;
        white-space: nowrap;
      animation: fadeIn 1s ease-in-out;
    }

    .card-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
  }

  .card-stat{
      width: 900px;
      border-radius: 50px;
  }
  </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <div class="card-container">
      <div class="card-stat">
          <div class="card-body bg-info text-white">
              <center>
                  <p class="card-title">Nombre total de consultations pour tous les unités </p>
                  <p class="card-text" style="font-size: 32px;">{{ total_consultations }}</p>
              </center>
          </div>
      </div>
  
  </div>



    {% endblock %}