
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Unité PDF</title>
</head>
<body>
    <center>
        <h2>République algérienne démocratique et populaire</h2>
        <h2>Ministère du Logement, de l'Urbanisme et de la Ville</h2>
        <h2>Office de Promotion et de Gestion Immobilière de la Province de Mostaganem</h2>
    </center>

    <center><h1 style="font-size:28px;">Alerte</h1></center>
</br>
    <h3>Les informations Unité </h3>
    <p>ID: {{ unite.id }}</p>
    <p>Nom de unite {{ unite.unite }} </p>
    <p>Nous tenons à vous informer que votre unité <strong>{{ unite.unite }}</strong> immobilière située dans l'OPGI de Mostaganem présente un retard de paiement dans le cadre des frais de recouvrement. Cette alerte de service a pour but de vous rappeler l'importance de régulariser votre situation financière dans les plus brefs délais.</br> 
        Le recouvrement des charges est essentiel pour assurer le bon fonctionnement et l'entretien de l'ensemble de notre résidence. Votre contribution est nécessaire pour garantir un environnement de vie agréable et sécurisé pour tous les résidents.</br>
        Nous vous demandons donc de prendre les mesures nécessaires pour effectuer le règlement de vos arriérés de paiement dans un délai. Vous pouvez procéder au règlement en vous rendant au bureau de l'OPGI de Mostaganem ou en utilisant les modes de paiement en ligne disponibles.</br>
        En cas de difficultés financières, nous vous encourageons à contacter notre équipe de recouvrement dès que possible. Nous sommes disposés à vous aider à trouver des solutions adaptées à votre situation, telles que des plans de paiement échelonné ou des arrangements spécifiques.</br>
        Veuillez prendre conscience de l'importance de votre engagement financier envers l'OPGI de Mostaganem et les autres résidents. Nous comptons sur votre coopération pour résoudre cette situation de recouvrement et maintenir un environnement harmonieux au sein de notre résidence.</br>
        Nous vous remercions de votre attention et de votre coopération.</br>
        Cordialement,</p>
      
       <p> Responsable du service de recouvrement. </br>
        OPGI Mostaganem.</p>
   
</body>
</html>
