{% block content %}
{% load static %}
<style>
    .custom-table {
        background-color: #f2f2f2; /* Gray background */
    }

    .custom-table th {
        background-color: #ccc; /* Gray background for table header */
        color: #fff; /* White text color for table header */
    }

    .custom-table td {
        background-color: #fff; /* White background for table cells */
    }

    .horizontal-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .horizontal-container .container {
        flex-basis: 48%;
    }

    .horizontal-container h2 {
        margin-bottom: 20px;
    }
</style>
<div class="horizontal-container">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="text-center text-danger">Liste des occupants en retard</h2>
                <div class="card-container">
                    <div class="card-stat">
                        <div class="card-body">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-danger text-white">Occupant</th>
                                        <th class="text-center bg-danger text-white"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instance in instances %}
                                    <tr>
                                        <td>{{ instance.0 }}</td>
                                        <td>
                                            <a type="button" class="btn btn-outline-info" href="{% url 'search:occupant_detail'  instance.1 %}">Voir</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class="text-center text-success">Liste des occupants fidèles</h2>
                <div class="card-container">
                    <div class="card-stat">
                        <div class="card-body">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th class="text-center bg-success text-white">Occupant</th>
                                        <th class="text-center bg-success text-white"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for instance in instances_Fidele %}
                                    <tr>
                                        <td>{{ instance.0 }}</td>
                                        <td>
                                            <a type="button" class="btn btn-outline-info" href="{% url 'search:occupant_detail'  instance.1 %}">Voir</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}