{% block start %}

<div id="notification-count">          <a href="{% url 'chat:notifications' %}" >
  {{notification_count}}           </a>
</div>
<span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

<div class="container mt-5 pt-5">
  <form action="{% url 'chat:search_notification' %}" class="search" method='GET'>

    <div class="input-box">
      <input  type="text" placeholder="Search" name="query">

    </div>
  </form>
  {% if search_notification %}
  <h2>Search Results:</h2>
  <ul>
  {% for notification in search_notification %}
      <li{% if notification.read %} class="read"{% endif %}>
          <strong>{{ notification.message }}</strong>
          <br>
          {{ notification.nom_oc }} {{ notification.prenom_oc }}
          <br>
          <small>{{ notification.created_at }}</small>
      </li>
  {% empty %}
      <li>No notifications found.</li>
  {% endfor %}
  </ul>
{% else %}
{% endif %}





  <h1>Notifications</h1>
  <ul id="notification-list">
    {% if notifications %}
      <ul>
      {% for notification in notifications %}
        <li>{{ notification.message }} -  {{ notification.nom_oc }}- {{ notification.prenom_oc }}-{{ notification.created_at }}
          <td><a  href="{% url 'chat:accepter' notification.message %}">Ajouter  </a></td>
        </li>

      {% endfor %}
      </ul>
    {% else %}
      <p>No notifications to display.</p>
    {% endif %}
  </ul>
 
</div>


<script>
  const socket = new WebSocket('ws://localhost:8000/ws/test/' );
  socket.onopen = function (e) {
    console.log('Connection established');
  };

  socket.onmessage = function(event) {
    var data = JSON.parse(event.data);
    if (data.type === 'notifications') {
        const count = data.count;
        document.getElementById('notification-count').innerHTML = count;
        var notificationList = document.querySelector('#notification-list');
        notificationList.innerHTML = '';
        for (var i = 0; i < data.notifications.length; i++) {
            var notification = data.notifications[i];
            var tr = document.createElement('tr');
            var td1 = document.createElement('td');
            var a = document.createElement('a');
            a.href = "/accepter/" + notification.message + "/";
            a.innerHTML = "Ajouter";
            td1.appendChild(a);
            var td2 = document.createElement('td');
            td2.textContent = notification.message + ' - '+  notification.nom_oc+' - ' + notification.prenom_oc + ' - '+ notification.created_at ;
            tr.appendChild(td1);
            tr.appendChild(td2);
            notificationList.appendChild(tr);
        }
    }
}
  
socket.onclose = function (e) {
    console.log('Connection closed');
  };
</script>


{% endblock %}