<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Occupant PDF</title>
</head>
<body>
    <center>
        <h2>République algérienne démocratique et populaire</h2>
        <h2>Ministère du Logement, de l'Urbanisme et de la Ville</h2>
        <h2>Office de Promotion et de Gestion Immobilière de la Province de Mostaganem</h2>
    </center>

    <center><h1 style="font-size:28px;">Alerte</h1></center>
</br>
    <h4>les informations d'occupant</h1>
    <p>ID: {{ occupant.oc_id }}</p>
    <p>Nom: {{ occupant.nom_oc }} {{ occupant.prenom_oc }}</p>
    <p>Date de naissance: {{ occupant.date_naiss }}</p>
    <p>Lieu de naissance: {{ occupant.lieu_naiss }}</p>
</br>
</br>
<p>
    Cher(e) locataire,</br>
    
    Nous espérons que vous vous portez bien. Nous tenons à vous informer qu'à partir de maintenant, notre service contentieux sera plus actif que jamais afin de garantir une gestion équitable et transparente de notre propriété.</br>
    
    Dans cet esprit, nous souhaitons vous rappeler l'importance du paiement de votre loyer à temps. Le loyer est un élément crucial pour maintenir le bon fonctionnement de notre communauté et assurer la qualité des services que nous vous offrons. Cependant, nous avons récemment remarqué que certains locataires n'ont pas respecté leurs obligations financières envers nous.</br>
    
    Ainsi, à partir de ce mois-ci, notre service contentieux sera chargé de surveiller attentivement les paiements des loyers et d'envoyer des alertes aux locataires en retard. Nous sommes conscients que des situations imprévues peuvent survenir, et nous encourageons donc tous les locataires qui rencontrent des difficultés financières à nous contacter immédiatement. Nous sommes prêts à vous soutenir et à trouver des solutions ensemble.</br>
    
    Cependant, il est important de noter que des mesures seront prises pour les locataires qui ne règlent pas leur loyer dans les délais impartis, sans justification valable. Les retards de paiement pourraient entraîner des frais supplémentaires, des pénalités ou même des actions légales si la situation persiste.</br>
    
    Nous souhaitons éviter d'en arriver là et vous rappelons qu'il est de votre responsabilité de régler votre loyer à temps. Cela garantit non seulement votre stabilité résidentielle, mais aussi la pérennité de notre communauté.</br>
    
    Nous vous invitons à faire preuve de diligence et de respect envers vos obligations financières en tant que locataire. Si vous avez des questions ou des préoccupations concernant votre situation, n'hésitez pas à nous contacter immédiatement. Nous sommes là pour vous aider et trouver des solutions adaptées à votre situation personnelle.</br>
    
    Nous vous remercions de votre compréhension et de votre coopération. Ensemble, nous pouvons maintenir un environnement harmonieux pour tous les résidents de notre communauté.</br>

    Responsable du service de contentieux. </br>
        OPGI Mostaganem.</p>
</body>
</html>
