{% extends '../opgi_system/layout.html' %}
{% block content %}
{% load static %}
<div class="card-body">
<h1> Recherche  dossier en cours de traitement juridique</h1>
<form method="get" >
  <div class="d-flex align-items-center">
    <input class="form-control mr-sm-1" type="text" name="keyword" placeholder="Search...">
    <div style="margin-bottom: 20px; margin-left: 20px;">   
    </div>

  </div>


  <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>

</form>
</div>

{% if dossiers %}
<br>
<br>
    <h2> Les Dossiers</h2>
</br>


    <ul>
        {% for occupant_name in occupant_names %}

        <li>{{ occupant_name.0 }} {{ occupant_name.1 }}      <a  href="{% url 'chat:Occupant_settings'  occupant_name.2   %}"> voir plus  </a>

        </li>
        {% endfor %}
    </ul>
{% else %}
<th scope="row" colspan="10">No results found.</th>
{% endif %}
{% endblock %}
